# Default owners for everything in the repo.
# Unless a later match takes precedence,
# the following teams will be requested for
# review when someone opens a pull request.
* @singlestore-labs/launch-pad
* @singlestore-labs/developer-relations
* @singlestore-labs/training
